@import 'styles/config.scss';

.turn-indicator {
    height: 14vh;
    position: relative;
    display: flex;
    align-items: center;
    
    img {
        height: 100%;
    }

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    span {
        margin-top: 20px;
        font-size: 0.8rem;
        color: $white;
    }

    b {
        margin-top: 5px;
        font-size: 2.1rem;
        color: $white;
    }

@media only screen and (max-width: 992px) {
    span {
        font-size: 0.5rem;
    }

    b {
        margin-top: 0;
        font-size: 1.8rem;
    }
}
}